*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    height: 100vh;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar{
    position: relative;
    width: 500px;
    height: 120px;
    background: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar ul{
    position: relative;
    display: flex;

}

.navbar ul li {
    position: relative;
    list-style-type: none;

}

.navbar ul li a {
    position: relative;
    height: 120px;
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    
}

.navbar ul li a {
    color:blueviolet;
    font-size: 40px;
}